src/main/webapp/static
src/main/webapp/WEB-INF/tags/layout.tag
target/
classes/
bin/
bower_components/
node_modules/
test-output/
typings/

.classpath
.settings
.project

*.iml
*.ipr
*.iws
.idea

atlassian-ide-plugin.xml

pom.xml.versionsBackup
.DS_Store
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~
hs_err*
hotspot.log

rebel.xml
